<template>
    <v-card
            max-width="800"
            class="mx-auto"
    >
        <v-container>
            <v-row v-if="!userAgreed">
                <v-card-actions >
                <v-btn text @click="initRecorder()" color="error">Enable microphone</v-btn>
            </v-card-actions>
            </v-row>
            <v-row dense>
                <v-col cols="12">
                    <v-card
                            color="#385F73"
                            dark
                    >
                        <v-card-title class="headline">{{estonianRes}}
                        </v-card-title>

                        <v-card-subtitle>{{russianRes}}
                        </v-card-subtitle>

                        <v-card-actions >
                            <v-btn text @click="textToSpeech(estonianRes)"><v-icon>mdi-repeat</v-icon></v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>

                <v-col cols="12">
                    <v-card
                            color="#385F73"
                            dark
                            height="120px"
                    >
                        <v-card-title class="headline headline-bottom">{{this.recordedText}}</v-card-title>

                        <v-card-subtitle>
                        </v-card-subtitle>

                        <v-card-actions class="justify-center">
                            <v-hover v-slot:default="{ hover }">
                                <span v-if="userAgreed" class="group pa-2 record-button" @click="recordToggle()"
                                      :class="`${hover? 'lighten-1': 'lighten-2'} ${recording? 'red': 'green'}`">
                                    <v-icon x-large dark>mdi-microphone</v-icon>
                                </span>
                            </v-hover>
                        </v-card-actions>
                    </v-card>
                </v-col>

            </v-row>
        </v-container>
    </v-card>

</template>

<script>
    import listener from './listener.js'
    import axios from 'axios'


    export default {
        data() {
            return {
                recordedText: "",
                estonianRes: "Tere, minu nimi on Oxana, millest sa rääkida tahaksid?",
                russianRes: "Привет, меня зовут Оксана, о чем бы вы хотели поговорить?",
                recording: false,
                userAgreed: false,
                context: {}
            }
        },
        interval: {},
        mounted: function () {
            console.log("listener initializing");
            this.interval = setInterval(this.pullTranscript, 1000);
        },
        methods: {
            initRecorder: function() {
                this.userAgreed = true,
                setTimeout(listener.init(), 500);
            },
            recordToggle: function () {
                if (!this.recording) {
                    listener.start()
                } else {
                    listener.stop()
                }
                this.recording = !this.recording
            },
            pullTranscript: async function () {
                this.recordedText = listener.getResults();
                if (listener.finished) {
                    listener.finished = false;
                    let russian = await this.translateTo(this.recordedText, "ru");
                    let anAnswer = await this.getAnAnswer(russian.data.text[0]);
                    let russianAns = await this.translateTo(anAnswer.data.result.fulfillment.speech, "ru");
                    this.estonianRes = anAnswer.data.result.fulfillment.speech;
                    this.russianRes = russianAns.data.text[0];
                    await this.textToSpeech(anAnswer.data.result.fulfillment.speech);
                }
            },
            textToSpeech: async function (text) {
                console.log(text);
                var config = {
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    responseType: 'jsonp',
                };
                axios
                    .get('https://teenus.eki.ee/konesyntees', {
                        params: {
                            tekst: text
                        }
                    }, config)
                    .then(res => {
                        console.log(res);
                        let audio = new Audio(res.data.mp3url);
                        audio.play();
                    }).catch(err => console.log(err))
            },
            translateTo: async function (value, language) {
                const translateApiKey = 'trnsl.1.1.20190523T034059Z.e8f75d1979dba2bb.d3a064371' +
                    '708e83bced3823d37e7b8b6118980de';
                const config = {
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    responseType: 'jsonp',
                };
                return await axios.get('https://translate.yandex.net/api/v1.5/tr.json/translate', {
                    params: {
                        key: translateApiKey,
                        text: value,
                        lang: language,
                        format: "plain",
                    }
                }, config)
            },
            getAnAnswer: async function (input) {
                axios.defaults.headers.common['Authorization'] = 'Bearer 02a73b86151f4bef840d148f0f57327d';
                const config = {
                    headers: {
                        "User-Agent": "PostmanRuntime/7.19.0",
                        "Accept": "*/*",
                        "Cache-Control": "no-cache",
                        "Host": "api.dialogflow.com",
                        "Accept-Encoding": "gzip, deflate",
                        "Connection": "keep-alive",
                        "cache-control": "no-cache"
                    }
                };
                return await axios.get('https://api.dialogflow.com/v1/query', {
                    params: {
                        v: 20150910,
                        contexts: "home",
                        lang: "ru",
                        query: input,
                        sessionId: 12345,
                        timezone: "America/New_York",
                    }
                }, config)
            }
        }
    };
</script>

<style>
    .record-button {
        border-radius: 50px;
        cursor: pointer;
    }

    .headline-bottom {
        height: 40px;
    }

    .record-button:hover {
        background-color: red;
    }
</style>
