<template>
  <v-app>
    <v-app-bar
      app
      color="secondary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="/oxana1.png"
          transition="scale-transition"
          width="120"
        />

      </div>

      <v-spacer></v-spacer>

    </v-app-bar>

    <v-content>
      <RecorderView/>
    </v-content>
  </v-app>
</template>

<script>
import RecorderView from './components/RecorderView';

export default {
  name: 'App',

  components: {
    RecorderView,
  },

  data: () => ({
    //
  }),
};
</script>
